body {
    font-size: 18px;
}

.content-header .breadcrumb {
    font-size: 16px;
}

.sidebar-menu .treeview-menu > li > a {
    font-size: 18px;
}

.treeview > a > span {
    font-size: 18px;
}

.node-item {
    font-size: 18px;
}

.btn-edit {
    font-size: 16px;
}