@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<hgroup>
    <h1 class="text-danger">Khóa tài khoản.</h1>
    <h2 class="text-danger">Tài khoản này đã bị khóa, vui lòng thử lại sau.</h2>
</hgroup>
