
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    main {
        background: #BCE29E;
        color:black;
    }
    .font--regular1{
        font-weight:bolder;
        margin-top:20%;
        padding-bottom:5%;
        text-align:center;
    }
    .font--regular {
        text-align: center;
    }
    .open {
        text-align: right;
        padding-top: 40%;
        font-weight: bold;
    }
    .Close {
        text-align: right;
        font-weight: bold;
    }
</style>
<main id="main-container" class="main-container">
    <div class="about-top">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="about-img">
                        <div class="img-responsive">
                            <img src="~/Content/assets/img/about/about.jpg" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="about-content">
                        <h1 class="font--regular1">Hôm Nào Coffee</h1>
                        <h3 class="font--regular">We are beverage and dessert delivery service. Always ensure the best customer service.</h3>
                        <h4 class="open">Openning 6h AM</h4>
                        <h4 class="Close">Closing 10h PM</h4>
                        <p class="para__text"></p>
                        <a href="#" class="btn btn--icon-left btn--small btn--radius btn--black btn--border-green btn--border-green-hover-green font--regular text-capitalize m-t-20">Download Our App<i class="fal fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ::::::  Start CMS Section  ::::::  -->
    <div class="cms m-t-100">
        <div class="container">
            <div class="row">
                <!-- Start Single CMS box -->
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="cms__content">
                        <div class="cms__icon">
                            <i class="fas fa-truck"></i>
                        </div>
                        <div class="cms__text">
                            <h6 class="cms__title">Free Shipping</h6>
                            <p class="para__text">Free Shipping availabe at home.</p>
                        </div>
                    </div>
                </div> <!-- End Single CMS box -->
                <!-- Start Single CMS box -->
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="cms__content">
                        <div class="cms__icon">
                            <i class="far fa-money-bill-alt"></i>
                        </div>
                        <div class="cms__text">
                            <h6 class="cms__title">100% Money Back Guarantee</h6>
                            <p class="para__text">Online Fresh Food will be back</p>
                        </div>
                    </div>
                </div> <!-- End Single CMS box -->
                <!-- Start Single CMS box -->
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="cms__content">
                        <div class="cms__icon">
                            <i class="far fa-life-ring"></i>
                        </div>
                        <div class="cms__text">
                            <h6 class="cms__title">Online Support 24/7</h6>
                            <p class="para__text">24/7 online support</p>
                        </div>
                    </div>
                </div> <!-- End Single CMS box -->
            </div>
        </div>
    </div> <!-- ::::::  End CMS Section  ::::::  -->
</main>

